:host {
  p {
    font-size: 20px;
    line-height: 2rem;
  }
  strong {
    color: white;
  }
}



.personal-details {
  line-height: 2rem;
  padding: 5rem 0rem 0 0;
  width: 100%;
  font-size: 20px;
  strong {
    display: inline-block;
  }
  span {
    display: inline-block;
  }
}